
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --primary-color: #fed054;
  --secondary-color: #24292e;
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--font-color);
}
body.dark-theme {
  --primary-color: #fed054;
  --secondary-color: #24292e;
  --font-color: #ffffff;
}
.clock {
  max-width: 100%;
  width: 1000px;
  margin: 50px auto;
}
.clock-title {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.day {
  font-weight: 100;
  text-align: center;
  font-size: 25px;
}
.month {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.time {
  font-size: 85px;
  text-align: center;
  padding-top: 20px;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}
.button-container input {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: 2px solid #fed054;
  border-radius: 2px;
  padding: 10px;
}
.button-container input:hover {
  cursor: pointer;
}
.icon-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.light-mode-icon {
  color: var(--primary-color);
}
.light-mode-icon:hover {
  cursor: pointer;
}
.alarm-container {
  margin-top: 35px;
  text-align: center;
}
.alarm-container h2 {
  padding: 15px;
  text-transform: uppercase;
}
.alarm-container input {
  background-color: var(--secondary-color);
  border-radius: 2px;
  border: 2px solid;
  border-color: var(--font-color);
  color: var(--font-color);
  padding: 5px;
}
.alarm-buttons {
  margin-top: 20px;
  text-align: center;
}
.alarm-buttons input {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: 2px solid #fed054;
  border-radius: 2px;
  padding: 15px;
}
footer{
  text-align:center;
}
footer a{
  text-decoration:none;
  color:var(--primary-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fed054;
    --secondary-color: #24292e;
    --font-color: #ffffff;
  }
  body.light-theme {
    --primary-color: #ffffff;
    --secondary-color: #fed054;
    --font-color: #24292e;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ffffff;
    --secondary-color: #fed054;
    --font-color: #24292e;
  }
  body.light-theme {
    --primary-color: #fed054;
    --secondary-color: #24292e;
    --font-color: #ffffff;
  }
}
@media (max-width:768px){
  .clock-title,.month {
    font-size: 35px;
  }
  .time{
    font-size:50px;
  }
}