@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --gold-yellow:#fed054;
  --offblack:#24292e;
  --white:#ffffff;
}
@media(prefers-color-scheme: dark){
  *{
      --text-color-one:var(--white);
      --text-color-two:var(--gold-yellow);
      --page-background:var(--offblack);
  }
}
@media(prefers-color-scheme: light){
  *{
      --text-color-one:var(--white);
      --text-color-two:var(--offblack);
      --page-background:var(--gold-yellow);
  }
}
body[theme ='dark']{
  --text-color-one:var(--white);
  --text-color-two:var(--gold-yellow);
  --page-background:var(--offblack);

}
body[theme ='light']{
  --text-color-one:var(--white);
  --text-color-two:var(--offblack);
  --page-background:var(--gold-yellow);
}
body {
  font-family: Montserrat, Arial, sans-serif;
  background-color: var(--page-background);
}
.clock {
  max-width: 100%;
  width:62.5rem;;
  margin:3.125rem auto;
}
.day {
  font-weight: 100;
  text-align: center;
  font-size: 2.5rem;
  color:var(--text-color-two);
}
.month {
  color: var(--text-color-one);
  font-size:2.1875rem;
  font-weight: 900;
  text-align: center;
}
.time {
  font-size:3.4375rem;
  text-align: center;
  padding-top:1.25rem;
  color:var(--text-color-two);
}
.button-container {
  text-align: center;
  margin-top:1.25rem;
}
.button-container input {
  background-color: var(--text-color-two);
  color: var(--text-color-one);
  border: 2px solid var(--text-color-two);
  border-radius: 2px;
  padding:0.625rem;
}
.button-container input:hover {
  cursor: pointer;
}
.icon-container {
  display: flex;
  justify-content: flex-end;
  padding:1.25rem;
}
.light-mode-icon {
  color: var(--text-color-two);
}
.light-mode-icon:hover {
  cursor: pointer;
}
footer{
  text-align:center;
}
.footer-title{
  color:var(--text-color-one);
}
footer a{
  text-decoration:none;
  color:var(--text-color-two);
}
@media (max-width:768px){
  .time{
   font-size:2.8125rem;
  }
}