@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --primary-color:#FED054;
    --secondary-color:#24292E;
    --font-color:#FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Montserrat, Arial, sans-serif;
    background-color:var(--secondary-color);
    color:var(--font-color)
}

.clock{
    max-width:100%;
    width:1000px;
    margin:50px auto;
}
.clock-title{
    text-transform:uppercase;
    font-size:50px;
    text-align:center;
    padding-top:20px;
    padding-bottom:15px
    
}
.day{
   font-weight:100;
   text-align:center;
   font-size:25px;
 
}
.month{
    color:var(--primary-color);
    font-size:50px;
    font-weight:900;
    text-align:center;
}
.time{
    font-size:85px;
    text-align:center;
    padding-top:20px
}
.button-container{
    text-align:center;
    margin-top:20px;
}
@media (prefers-color-scheme: dark) {
    :root{
        --primary-color:#FED054;
        --secondary-color:#24292E;
        --font-color:#FFFFFF;
    }
  
  }
  @media (prefers-color-scheme: light) {
    :root{
        --primary-color:#FFFFFF;
        --secondary-color:#FED054;
        --font-color:#24292E;
    }
  }