 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Orbitron', sans-serif;
 }
 body{
  background-color:#0B0C0D;
  color:#F0F0F2;
 }
 .container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;
 }
 .wrapper{
   padding:15px;
   background-color:#232426;
   border-radius:10px;
 }
 #weekends{
  background-color:#2E2F33;
  padding:10px;
  border:2px solid #2E2F33;
  border-radius:20px;
 }
 .day{
  padding:10px;
 }
 #today_date{
   font-size:20px;
   font-weight:bold;
   padding-top:5px;
 }
 .clock{
   text-align:center;
 }
 .seconds{
   font-size:20px;
   padding:5px;
 }
 #current_time{
   font-size:60px;
   font-weight:bold;
 }
 .ampm{
   color:#64646A;
   font-size:25px;
   font-weight:bold;
 }
